@font-face {
    font-family: 'prata';
    src: url('../tipografia/prata/prata-Regular.ttf');
}
@font-face {
    font-family: 'lato';
    src: url('../tipografia/lato/lato-Regular.ttf');
}
@font-face {
    font-family: 'Passions_Conflict';
    src: url('../tipografia/Passions_Conflict/PassionsConflict-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont-general{
    max-width: min(100%, 1600px);
}  


                    /* NAV PRINCIPAL */


.nav-principal{
    width: 100%;
    position: absolute;
    height: 18vh;
    background-color:transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    align-content: center;
    z-index: 200;
    transition: 0.5s;
}
#cont-del-nav{
    width: 100%;
    position: relative;
    position: fixed;
    height: 18vh;
    background-color:white;
    box-shadow: 1px 1px 5px gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    align-content: center;
    z-index: 200;
    transition: 0.5s;
}

#icono-menu{
    margin-top: 3%;
    margin-left: 15%;
    width: 6vw;
    padding: 3%;
    background-color: rgba(220, 20, 60, 0.232);
    border-radius: 25vw;
}
.cont-logo{
    scale: 140%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-logo img{
    margin-top: 50%;
    width: 5vw;
}
.cont-logo h3{
    color: white;
    font-weight: 400;
    font-size: 2vw;
    font-family: 'prata';
}
#logo-modified img{
    margin-top: 15%;
    width: 3vw;
    color: black;
}
#logo-modified h3{
    color: rgba(116, 4, 27, 0.645);
    font-weight: 550;
    font-size: 2vw;
    
}

.cont-contact{
    margin-left: 45%;
}

#contact{
    width: 10vw;
    height: 9vh;
    border: none;
    border-radius: 0.5vw;
    color: white;
    font-size: 1.2vw;
    background-color: rgba(220, 20, 60, 0.645);
}
#contact:hover{
    cursor: pointer;
    background-color: rgb(245, 167, 50);
}


#interrogacion{
    width: 1.2vw;
    margin-left: 3%;
    transition: 0.5s;
}

#interrogacion:hover{
    cursor: pointer;
}

#ayuda-btn{
   position: absolute;
   right: 6%;
   top: 80%;
   font-size: 1.2vw;
   z-index: 300;
    width: 25vw;
    padding: 1.2%;
    height: 23vh;
    background-color: white;
}
#ayuda-btn p{
    font-family: 'lato';
    font-weight: lighter;
    font-size: 1vw;
    line-height: 1.5em ;    
    color: #231f20;
   
}



                      /* HEADER PRINCIPAL */

.cabecera{
    display: flex;
    justify-content: center;
    text-align: center;
}

.hdr-img{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: inline-block;
}


#imgHder{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#titulo{
    position: absolute;
    color: white;
   bottom:20%;
   font-size: 5.5vw;
   font-family: 'prata';
   font-weight: 400;
}

#titulo-pequeno{
    position: absolute;
    bottom: 15%;
    color: white;
    font-size: 1.5vw;
    font-weight: 200;
    background-color: #dc143ca4;
    padding-inline: 0.5%;
    border-radius: 0.25vw;
}
#art-presentacion{
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 padding: 8%;
 padding-inline: 18.5%;
 text-align: justify;
}
#art-presentacion p{
    font-size: 1.6vw;
    font-weight: 100;
    font-family: 'prata';
    line-height: 1.5em ;  
}
#firma{
    font-family: 'Passions_Conflict';
    text-align: center;
    margin-top: 5%;
    font-size: 4vw;
}
#firma-description{
    text-align: center;
    font-family: 'lato';
}
#titulo-pag{
    color: rgba(220, 20, 60, 0.645);
}
#titulo-contactar a{
    text-decoration: none;
   color: rgba(0, 0, 255, 0.596);
}

                      /* ----------------SECCION UNO-------------- */

.primera-Seccion{
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns:950px  1fr;
}
#left{
    padding-left: 5%;
    margin-inline: 3%;
}
#s1artLDiv{
    width: 80%;
    text-align:left;
}

#left img{
    width: 100%;
}
#s1l-h4{
   
    font-size: 1vw;
    margin: 3%;
}
#s1l-p1{
    
    font-size: 1.5vw;
    margin: 3%;
}
#s1l-text{
    font-size: 1.5vw;
    margin: 3%;
}
#s1artL-btn{
    width: 14vw;
    height: 9vh;
    font-size: 1.5vw;
    margin: 3%;
    border-radius: 0.5vw;
    background-color: rgba(220, 20, 60, 0.645);
    border: none;
}
#s1artR3{
    margin-top: 10%;
}
#s1artR-Btn2{
    width: 10vw;
    height: 9vh;
    font-size: 1.5vw;
    margin: 3%;
    border-radius: 0.5vw;
    background-color:transparent;
    border: 1px solid white;
    position: absolute;
    margin-top: 22%;
    right: 22%;
   
}

#right{
    padding-right: 12%;
}
#s1artRDiv{
    text-align: left;
}
#right img{
    width: 100%;
   
}
#s1r-h4{
    vertical-align: inherit;
    font-size: 1vw;
    margin: 3%;
}
#s1r-h5{
    vertical-align: inherit;
    font-size: 4vw;
    margin: 3%;
}
#s1r-text{
    font-size: 1.5vw;
    margin: 3%;
}
#s1artR-btn{
    width: 20vw;
    height: 9vh;
    font-size: 1.5vw;
    margin: 3%;
    border-radius: 0.5vw;
    background-color: rgba(220, 20, 60, 0.645);
    border: none;
}

                                 /*-------------------SECTION DOS----------------*/

.segunda-Seccion{
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 75vh; 
}

#s2DivUp{
    position: absolute;
    width:30vw;
    height: 50vh;
    left: 3%;
   margin-top: 6%;
   padding: 3%;
}
#s2Div-h4{
    font-size: 3.2vw;
    color: rgba(220, 20, 60, 0.645);
}
#s2articulo{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    width: 82%;
    height: 75vh;
    padding-left: 15%;
    background-color: rgba(7, 7, 7, 0.048);
}
#s2art-p1{
    font-size: 1.2vw;
}
.s2artDiv{
    padding-top: 25%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s2artDiv a{
   padding: 2%;
   text-decoration: none;
}


                                         /*-------------------SECTION TRES----------------*/

.tercera-Seccion{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 950px;
}

#s3srtRight{
    padding-right: 8%;
    margin-left: 4%;
}

#s3srtRight img{
    width: 100%;
    height: 70vh;
}

#s3srtleft{
    padding-left: 10%; 
}

#s3srtleft img{
    width: 100%;
    height: 50vh;
}
#s3artR3{
    margin-top: 10%;
}
#s3artR-Btn2{
    position: absolute;
    left: 6%;
    margin-top: 18%;
    width: 10vw;
    height: 9vh;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    background-color:transparent;
    border: 1px solid white;
}

                                       /*-------------------SECTION CUATRO----------------*/

.cuarta-Seccion{
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 75vh; 
}

#s4DivUp{
    position: absolute;
    width:30vw;
    height: 50vh;
    left: 3%;
    margin-top: 8%;
    padding: 3%;
}
#s4Div-h4{
    font-size: 3.2vw;
    color: rgba(220, 20, 60, 0.645);
}
#s4art-p1{
    font-size: 1.2vw;
}
.s4artDiv{
    padding-top: 25%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s4artDiv a{
   padding: 2%;
   text-decoration: none;
}
#s4articulo{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    width: 82%;
    height: 75vh;
    padding-left: 15%;
    background-color: rgba(7, 7, 7, 0.048);
}


                                        /*-------------footer-------------------*/

.pie-pag{
    width: 100%;
    height: 70vh;
    margin-top: 8%;
    background-color:  rgba(220, 20, 60, 0.645);
    color: white;
}

.pie-pag h5{
    padding: 3%;
    text-align: center;
    font-size: 4vw;
}

#fter-contact{
    width: 12vw;
    height: 9vh;
    border: 1px solid white;
    border-radius: 0.5vw;
    color: white;
    font-size: 1.2vw;
    background-color:transparent;
   margin-left: 45%;
}

#fterleftlogo{
    margin-top: 4%;
    margin-left: 3%;
    width: 45%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#fterleftlogo a{
    margin-inline: 5%;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}

#fterleftlogo a:hover{
    color: rgb(91, 3, 174);
    border-bottom: 2px solid rgb(91, 3, 174);
}

#fterleftlogo img{
    width: 6vw;
}

#fterleftlogo h3{
    font-size: 2vw;
}

.pie-pag p{
    margin-top: 1%;
    margin-left: 4%;
    color: rgba(255, 255, 255, 0.527);
}

#fterRight{
    width: 24vw;
    height: 60vh;
    position: absolute;
    right: 2%;
    margin-top: -25%;
}

#fterRight h6{
    font-size: 1.6vw;
    margin-top: -6%;
    margin-bottom: 6%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

#spnAfter{
text-decoration: none;
color: white;
border-bottom: 2px solid white;
}

#spnAfter:hover{
    text-decoration: none;
    border-bottom: 2px solid rgb(91, 3, 174);
    color: rgb(91, 3, 174);
}

#pAfter{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}

#pAfter:hover{
    border-bottom: 2px solid rgb(91, 3, 174);
    color: rgb(91, 3, 174);
}

#icnsRedesFre{
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
    align-content: center;
}

#fterRight p{
    color: rgba(255, 255, 255, 0.527);
    margin: 0;
}

#stars{
    width: 8vw;
}

.icnsRedes{
    width: 1.5vw;
    margin-right: 6%;
    transition: 0.5s;
}

.icnsRedes:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.4);
}

#img-diferente{
    margin-left: 3%;
    width: 4vw;
    transition: 0.5s;
}

#img-diferente:hover{
    cursor: pointer;
    transform: scale(1.1);
}