@font-face {
    font-family: 'prata';
    src: url('../tipografia/prata/prata-Regular.ttf');
}
@font-face {
    font-family: 'lato';
    src: url('../tipografia/lato/lato-Regular.ttf');
}
@font-face {
    font-family: 'Passions_Conflict';
    src: url('../tipografia/Passions_Conflict/PassionsConflict-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




                    /* NAV PRINCIPAL */




.nav-principal{
    width: 100%;
    position: absolute;
    height: 18vh;
    background-color:transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    align-content: center;
    z-index: 200;
    transition: 0.5s;
}
#cont-del-nav{
    width: 100%;
    position: relative;
    position: fixed;
    height: 18vh;
    background-color:white;
    box-shadow: 1px 1px 5px gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    align-content: center;
    transition: 0.5s;
}

#icono-menu{
    margin-top: 3%;
    margin-left: 15%;
    width: 6vw;
    padding: 3%;
    background-color: rgba(220, 20, 60, 0.232);
    border-radius: 25vw;
}
.cont-logo{
    scale: 140%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-logo img{
    margin-top: 50%;
    width: 5vw;
    transition: 0.5s;
}
.cont-logo h3{
    margin-right: -1%;
    margin-left: -1%;
    color: white;
    font-weight: 400;
    font-size: 1.8vw;
    font-family: 'prata';
    transition: 0.5s;
}
#logo-modified img{
    margin-top: 15%;
    width: 2.5vw;
    color: black;
    transition: 0.5s;
}
#logo-modified h3{
    color:  rgba(110, 27, 43, 0.788);
    font-weight: 550;
    font-size: 1.5vw;
    transition: 0.5s;
    
}

.cont-contact{
    margin-left: 35%;
    display: flex;
    align-items: center;
}

.btnclick{
    display: flex;
    align-items: center;
    padding-inline: 4%;
    height: 9vh;
    color: white;
    border: none;
    border-radius: 0.5vw;
    font-family: 'lato';
    font-size: 1.2vw;
    background-color: rgba(220, 20, 60, 0.645);
}
.btnclick:hover{
    cursor: pointer;
    color: #231f20;
    background-color: rgb(245, 167, 50);
}
#usuario{
    width: 2.8vw;
}

#interrogacion{
    width: 1.5vw;
    height: 3vh;
    margin-left: 3%;
    transition: 0.5s;
}

#interrogacion:hover{
    cursor: pointer;
}

#ayuda-btn{
   position: absolute;
   right: 6%;
   top: 80%;
   font-size: 1.2vw;
 
    width: 25vw;
    padding: 1.2%;
    height: 23vh;
    background-color: white;
}
#ayuda-btn p{
    font-family: 'lato';
    font-weight: lighter;
    font-size: 1vw;
    line-height: 1.5em ;    
    color: #231f20;
   
}



                      /* HEADER PRINCIPAL */

.cabecera{
    display: flex;
    justify-content: center;
    text-align: center;
}

.hdr-img{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: inline-block;
}


#imgHder{
    position: relative;
    width: 100%;
    height: 100%;
    z-index:100;
}

#titulo{
    position: absolute;
    color: white;
   bottom:20%;
   font-size: 5.5vw;
   font-family: 'prata';
   font-weight: 400;
}

#titulo-pequeno{
    position: absolute;
    bottom: 15%;
    color: white;
    font-size: 1.5vw;
    font-weight: 200;
    background-color: #dc143ca4;
    padding-inline: 0.5%;
    border-radius: 0.25vw;
    font-family: 'lato';
    line-height: 1.5em ;    
}
#art-presentacion{
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 padding: 8%;
 padding-inline: 18.5%;
 text-align: justify;
}
#art-presentacion p{
    font-size: 1.6vw;
    font-weight: 100;
    font-family: 'prata';
    line-height: 1.5em ;  
}
#firma{
    width: 38%;
    margin: 0 auto;
    font-family: 'Passions_Conflict';
    text-align: center;
    margin-top: 5%;
    font-size: 4vw;
    border-bottom: 1px solid rgba(48, 9, 17, 0.645);
}

#firma-description{
    text-align: center;
    font-family: 'lato';
    line-height: 1.5vw ;    
}
#titulo-pag{
    color: rgba(220, 20, 60, 0.645);
}
#titulo-contactar a{
    text-decoration: none;
   color: rgba(0, 0, 255, 0.596);
}

                      /* ----------------SECCION UNO-------------- */

.primera-Seccion{
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns:950px  1fr;
}
#left{
    padding-left: 5%;
    margin-inline: 3%;
}
#s1artLDiv{
    width: 80%;
    text-align:left;
}

#left img{
    width: 100%;
}

#s1l-h4{
    font-size: 1vw;
    margin: 3%;
    font-family: 'prata';
}

#s1l-p1{
    font-family: 'lato';
    line-height: 1.4em ;    
    font-size: 1.5vw;
    margin: 3%;
}

#s1l-text{
    font-size: 1.4vw;
    line-height: 1.4em ;    
    margin: 3%;
    font-family: 'lato';
}


#s1artR3{
    margin-top: 10%;
}
#s1artR-Btn2{
    width: 10vw;
    height: 9vh;
    margin: 3%;
    font-size: 1.2vw;
    font-family: 'lato';
    border-radius: 0.5vw;
    background-color:transparent;
    border: 1px solid white;
    color: white;
    position: absolute;
    margin-top: 22%;
    right: 22%;
}

#s1artR-Btn2:hover{
        cursor: pointer;
        color: #231f20;
        background-color: rgb(245, 167, 50);
    
}

#right{
    padding-right: 12%;
}
#s1artRDiv{
    text-align: left;
}
#right img{
    width: 100%;
   
}
#s1r-h4{
    vertical-align: inherit;
    font-size: 1vw;
    margin: 3%;
    font-family: 'lato';
    
}
#s1r-h5{
    font-size: 3.1vw;
    font-weight: 400;
    color: #4c4461;
    font-family: 'prata';
    margin-left: 3%;
}
#s1r-text{
    font-size: 1.5vw;
    margin: 3%;
    font-family: 'lato';
    line-height: 1.4em ;   
    Color:#231f20

}

                                 /*-------------------SECTION DOS----------------*/

.segunda-Seccion{
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 75vh; 
}

#s2DivUp{
    position: absolute;
    width:35vw;
    height: 50vh;
    left: 3%;
   margin-top: 2%;
   padding: 3%;
}
#s2Div-h4{
    font-size: 3.1vw;
    font-weight: 400;
    color: #4c4461;
    font-family: 'prata';
}
#s2articulo{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    width: 82%;
    height: 75vh;
    padding-left: 24%;
    background-color: rgba(7, 7, 7, 0.048);
}
#s2art-p1{
    font-size: 1.2vw;
    font-family: 'lato';
    line-height: 1.4vw ;    
}
.s2artDiv{
    padding-top: 25%;
    height: 80%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.s2artDiv a{
   padding: 2%;
   text-decoration: none;
   font-size: 1.3vw;
   line-height: 1.8vw ;    
   font-family: 'prata';
   color: #292929;
   text-decoration: underline;
}
.s2artDiv a:hover{
    color: rgb(220, 20, 60);
}

.s2artDiv h4{
    padding: 2%;
    margin-bottom: 5%;
   font-size: 0.8vw;
    font-family: 'lato';
    color: #474848;
 }
 #s2DivDown{
    position: absolute;
    margin-top: 28%;
    right: 2%;
    font-size: 1.2vw;
    font-family: 'lato';
    display: flex;
    color: #474848;
 }
 #s2DivDown a{
  text-decoration: none;
  color: #474848;
  text-decoration: underline;
 }
 #s2DivDown a:hover{
    text-decoration: none;
    color: rgb(91, 3, 174);
    text-decoration: underline;
   }
 .icoImgSvg{
    cursor: pointer;
    width: 1.8vw;
    padding: 2%;
 }

                                         /*-------------------SECTION TRES----------------*/

.tercera-Seccion{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 950px;
}

#s3srtRight{
    padding-right: 8%;
    margin-left: 4%;
}

#s3srtRight img{
    width: 100%;
    height: 70vh;
}

#s3srtleft{
    padding-left: 10%; 
}

#s3srtleft img{
    width: 100%;
    height: 50vh;
}
#s3artR3{
    margin-top: 10%;
}
#s3artR-Btn2{
    position: absolute;
    left: 5%;
    margin-top: 18%;
    width: 10vw;
    height: 9vh;
    font-size: 1.2vw;
    font-family: 'lato';
    border-radius: 0.5vw;
    background-color:transparent;
    border: 1px solid white;
    color: white;
}
#s3artR-Btn2:hover{
    cursor: pointer;
    color: #231f20;
    background-color: rgb(245, 167, 50);
}

                                       /*-------------------SECTION CUATRO----------------*/

.cuarta-Seccion{
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 75vh; 
}

#s4DivUp{
    position: absolute;
    width:35vw;
    height: 50vh;
    left: 3%;
    margin-top: 6%;
    padding: 3%;
}
#s4Div-h4{
    font-size: 3.1vw;
    font-weight: 400;
    color: #4c4461;
    font-family: 'prata';
}
#s4art-p1{
    font-size: 1.2vw;
    font-family: 'lato';
    line-height: 1.4em ; 
}
.s4artDiv{
    padding-top: 25%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.s4artDiv li{
   padding: 2%;
   list-style:none;
   font-size: 1.1vw;
   padding: 2%;   
   font-family: 'prata';
   color: #292929;
}

.s4artDiv h4{
    padding: 2%;
    margin-bottom: 5%;
    font-size: 0.8vw;
    font-family: 'lato';
    color: #474848;
}
#modLaA{
    margin-top: 15%;
}
#s4articulo{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    width: 82%;
    height: 75vh;
    padding-left:24%;
    background-color: rgba(7, 7, 7, 0.048);
}


                                        /*-------------footer-------------------*/

.pie-pag{
    width: 100%;
    height: 70vh;
    margin-top: 8%;
    background-color:  rgba(220, 20, 60, 0.645);
    color: white;
    
}

.pie-pag h5{
    padding: 3%;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 200;
    font-family: 'prata';
}

#fter-contact{
    width: 12vw;
    height: 9vh;
    border: 1px solid white;
    border-radius: 0.5vw;
    color: white;
    font-size: 1.2vw;
    background-color:transparent;
    margin-left: 45%;
    font-family: 'lato';
}
#fter-contact:hover{
    cursor: pointer;
    color: #231f20;
    background-color: rgb(245, 167, 50);
}

#fterleftlogo{
    margin-top: 4%;
    margin-left: 3%;
    width: 45%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#fterleftlogo a{
    margin-left: 10%;
 transition: 0.5s;
    font-size: 1.1vw;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    font-family: 'lato';
}

#fterleftlogo a:hover{
    color: rgb(91, 3, 174);
    border-bottom: 2px solid rgb(91, 3, 174);
}

#fterleftlogo img{
    width: 5vw;
}

#fterleftlogo h3{
    margin-right: -3%;
    margin-left: -3%;
    font-size: 2vw;
    font-weight: 200;
    font-family: 'prata';
}

.pie-pag p{
    margin-top: 1%;
    margin-left: 4%;
    color: rgba(255, 255, 255, 0.527);
}

#fterRight{
    width: 26vw;
    height: 60vh;
    position: absolute;
    right: 2%;
    margin-top: -24%;
}

#fterRight h6{
    font-size: 1.4vw;
    margin-top: -4%;
    margin-bottom: 6%;
    font-family:'prata';
    font-weight: 100;
}

#spnAfter{
text-decoration: none;
color: white;
border-bottom: 2px solid white;
}

#spnAfter:hover{
    text-decoration: none;
    border-bottom: 2px solid rgb(91, 3, 174);
    color: rgb(91, 3, 174);
}

#pAfter{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}

#pAfter:hover{
    border-bottom: 2px solid rgb(91, 3, 174);
    color: rgb(91, 3, 174);
}

#icnsRedesFre{
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
    align-content: center;
}

#fterRight p{
    color: rgba(255, 255, 255, 0.527);
    margin: 0;
    font-family: 'lato';
    line-height: 1.4em ; 
}
#spnFter{
    font-size: 1vw;
    font-family: 'lato';
    line-height: 1.4em ; 
}

#stars{
    width: 5vw;
}

.icnsRedes{
    width: 1.5vw;
    margin-right: 6%;
    transition: 0.5s;
}

.icnsRedes:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.4);
}

#img-diferente{
    margin-left: 3%;
    width: 4vw;
    transition: 0.5s;
}

#img-diferente:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/*------------------------------------Modal de registrar usuario----------------------------*/

.modal-Login{
    position: absolute;
    top: 15%;
    right: 35%;
    width: 35vw;
    height: 95vh;
    margin: 0 auto;
    z-index: 500;
    background-color: rgb(66, 2, 15);
   
}
#btnCerrar{
    width: 1.5vw;
    margin: 2%;
    float: right;
    cursor: pointer;
}
.rellenar{
    width: 60%;
    margin: 0 auto;
   color: white;
}
#formulario-login{
    display: flex;
    flex-direction: column;
}
.rellenar input{
    margin: 1%;
    width: 100%;
    height: 5vh;
    font-size: 1.1vw;
    font-weight:550;
    border-radius: 0.3vw;
    border: none;
    font-family: 'lato';
}
.rellenar input:focus{
    outline: none;
   
}
.rellenar label{
    font-family: 'prata';
    margin-left: 2%;
    margin-top: 3%;
}
.rellenar h1{
    font-family: 'prata';
    font-size: 3vw;
    text-align: center;
    font-weight: 300;
    margin-top: 5%;
}
.rellenar h3{
    font-family: 'lato';
    font-size: 1.5vw;
    text-align: center;
    font-weight: 100;
    margin-top: 3%;
    margin-bottom: 4%;
}
#btnAceptar{
    width: 6vw;
    margin-top: 4%;
    border: none;
    margin-left: 40%;
    font-size: 1vw;
    font-weight:600;
    border-radius: 0.5vw;
    font-family: 'lato';
}


/*////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////**/


@media (max-width: 768px) {

    @font-face {
        font-family: 'prata';
        src: url('../tipografia/prata/prata-Regular.ttf');
    }
    @font-face {
        font-family: 'lato';
        src: url('../tipografia/lato/lato-Regular.ttf');
    }
    @font-face {
        font-family: 'Passions_Conflict';
        src: url('../tipografia/Passions_Conflict/PassionsConflict-Regular.ttf');
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin: 0 auto;
    }
   

    .primera-Seccion{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
   .tercera-Seccion{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
   }
   #s1artLDiv button{
    margin-bottom: 5%;
}
.cont-contact{
    display: flex;
    align-items: center;
    margin-left: 45%;
}
#interrogacion{
    width: 15%;
    height: 15%;
}
#icono-menu{
    margin-left: -100%;
}

}